.headings{
  color:darkcyan;
  font-family: sans-serif;
}
#h1_3{
  color:purple;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
}
#h1_3, .headings{
  padding: 15px;
  margin: 15px
}
