thead{
  text-align: center;
  color: darkcyan;
  font-size: 35px;
  font-weight: bold;
  font-family: arial;
}
tbody{
  text-align: center;
  color: blue;
  font-size: 25px;
  font-family: arial;
}
td, th{
  border: 2px solid black;
  padding: 5px;
}
table{
  border: 1px solid black;
  border-collapse:collapse;
  margin: 10px;
}
h1{
  text-align: justify;
  color: darkblue;
  font-size: 40px;
  font-family: arial;
  font-weight: bold;
  margin-left: 140px;
}
